<%= javascript_tag do %>
	$(function(){
		$.ajax({ url: '<%=j path %>',
			type: 'get',
			dataType:'script',
			timeout: 15000,
			error: function(){
				$("#main").prepend("<div class=\"alert alert-error\">Request timed out after 15 seconds. Twitter is over capacity, <a href=\"<%=j path %>\">Please try again</div>");
					$(".hero-unit").html("<h1 id=\"loading\">Could not load users</h1>");
				},
				success: function() {
				initPopover();
			 	}
			});
		});
	<% end %>
