<div class="hero-unit">
  <h1>Who are your tweeps? <%= image_tag "hawk.png" %></h1>
  <p>Do you really know who your connected to at twitter? Are you missing out? Find out in a few seconds and take action with Tweepsmanager</p>
  <p><a class="btn btn-success btn-large" href="/auth/twitter" >Sign in with Twitter</a></p>
</div>


<ul class="thumbnails">
  <li class="span6">
  <h2>Find out more about your twitter friends</h2>
  <p>Tweepsmanager makes it really easy to find out more about the people you are connected to on twitter.</p>
  <p>Can you still remember everyone that you are following? Do you really know who's following you?</p>
  <p>With Tweepsmanager you can also find new followers by browsing as other users. A good tip is to pick an authority on the area that you are interested in and check who they are following.
  We also make it easy for you to see who isn't following you back and choose whether they deserve your continued attention or not.</p>
  <p>Managing your twitter connections have never been this easy. Give it a try yourself and you will find out!</p>
  </li>
  <li class="span6">
  <img class="thumbnail" src="<%= image_path('screenshot.png') %>">
  </li>
</ul>

