<div class="hero-unit">
  <h1>Follow, unfollow and see whos not following back. <%= image_tag "hawk.png" %></h1>
  <p>Can you still remember everyone that you are following? Do you really know who's following you?</p>
  <p>With Tweepsmanager you can also find new followers by browsing as other users. A good tip is to pick an authority on the area that you are interested in and check who they are following.
  We also make it easy for you to see who isn't following you back and choose whether they deserve your continued attention or not.</p>
  <p><a class="btn btn-success btn-large" href="/auth/twitter" >Sign in with Twitter</a></p>
</div>

