<div class="hero-unit">
	<h1>Who are your tweeps? <%= image_tag "hawk.png" %></h1>
	<p>Find out who you are following, who is following you and take action with Tweepsmanager</p>
	<p>Features:</p>
	<ul>
		<li>Manage the people you are following</li>
		<li>Manage the people who are following you</li>
		<li>Manage those who you follow that don't follow you back</li>
	</ul>
	<p>No setup required! Just press the button.</p>
	<p><a class="btn btn-primary btn-large" href="/auth/twitter" >Get started for free!</a></p>
</div>
