<div id="tweet-dialog" class="modal hide fade" style="display:none;">
	<div class="modal-header">
		<a href="#" class="close">×</a>
		<h3>What’s happening?</h3>
	</div>
	<div class="modal-body">
		<textarea class="span9 xlarge" rows="5"  name="tweet"></textarea>
	</div>
	<div class="modal-footer">
		<% #TODO Not working %>
		<%= link_to "Tweet", {controller:"twitter", action: "tweet"}, method: :post, remote: :true, class:"btn primary", id:"tweet-button" %>
	</div>
</div>

<script type="text/javascript">
	$("#tweet-button").bind('ajax:complete', function(evt, data, status, xhr){
			alert(xhr.responseText);
			});
$("#tweet-button").bind('ajax:success', function(){
		alert("Complete!");
		});
$("#tweet-button").bind('ajax:failure', function(){
		alert("Fail!");
		});
</script>
