<br />
<h1>The people behind Tweepsmanager</h1>
<br />
<ul class="thumbnails">
	<li class="span4">
	<img class="thumbnail" src="<%= image_path('pbjorklund.jpg') %>">
	<h2>Patrik Björklund</h2>
	<p> Patrik is an IT-consultant at Logica by day, focusing on increasing business value by effective use of collaborative software. He spends his free time learning as much about new technologies as he can. The expressiveness, readability and the great community is what drives him towards Ruby.</p>
	<p>He enjoys well-made coffee, books and business. He is also quite fond of talking about himself in 3rd person. You can find out more about Patrik at <a href="http://www.twitter.com/pbjorklund">twitter</a> or view his online resume (in swedish) at <a href="http://se.linkedin.com/in/pbjorklund">LinkedIn</a>.  </p>
	</li>
	<li class="span4">
	<img class="thumbnail" src="<%= image_path('th3dz.jpg') %>">
	<h2>Erik Skoglund</h2>
	<p>Erik builds games. A lot of games. They are awesome and he is going to be the new Mojang some day. </p>
	<p>He is a system developer at Innovation Lab by day. Indie game developer by night.</p>
	</li>
</ul>
