<% if !current_user %>
	<%= render :partial => "shared/start" %>
<% else %>

<div class="hero-unit">
	<h1 class="">Hello there,</h1>
	<p>We want to hear what you, our users, have to say. You are after all obviously an early adopter with a solid interest in social media. Who better then you to tell us what's broken? What's misspelled? What killer feature do you just absolutely need? Please, let us know!</p>
	<p>	You can find several ways to contact us under <%= link_to "About", "about" %>.</p>
</div>

<div class="row">

	<div class="span6">
		<h2>Developers and designers wanted</h2>
		If you are a developer or designer and want to help out: Let us know!
		<br /> <br />
		We will throw you right into the codebase! At this stage there is no telling where Tweepsmanager will end up. Join us in an no-expenses paid journey that can end up anywhere.
	</div>
</div>

<% end -%>
