<% if !current_user %>
	<%= render :partial => "shared/start" %>
<% else %>

<div class="hero-unit">
	<h1 class="">Hello there,</h1>
	<p>We want to hear what you, our users, have to say. You are after all obviously an early adopter with a solid interest in social media. Who better then you to tell us what's broken? What's misspelled? What killer feature do you just absolutely need? Please, let us know!</p>
	<p>	You can find several ways to contact us under <%= link_to "About", "about" %>.</p>
</div>

<div class="row">

	<div class="span6">
		<h2>Designer wanted</h2>
		If you are a designer and want to help out: Let us know! Twitter bootstrap is awesome to get something off the ground, but it's not supposed to last forever.
		<br /> <br />
		We will throw you right into the codebase! At this stage there is no telling where Tweepsmanager will end up. Join us in an no-expenses paid journey that can end up anywhere.
	</div>
  <div class="span6">
    <h2>Be aware of Twitters rules</h2>
    <p>"The only auto-following behavior Twitter allows is auto-follow-back (following a user after they have followed you). Automated un-following is also not permitted. If you find yourself frequently needing to un-follow large numbers of users, you might consider reviewing your criteria for following them. Please review our Follow Rules and Best Practices for a detailed discussion of following recommendations." Read more at <a href="https://support.twitter.com/articles/76915-automation-rules-and-best-practices">Twitter's support page</a> </p>
  </div>
</div>

<% end -%>
