<div class="hero-unit">
	<h1 class="">Hello there,</h1>
	<p>We feel obligated to tell you that the site is currently in ALPHA. Not beta, not rc. Alpha. This means that anything can change or break at any time. But you knew that already didn't you? How else could you have stumbled upon this page?</p>
	<p>What we want is to hear what you, our user, have to say. You are obviously an early adopter with a solid interest in social media. Who better then you to tell us what's broken? What's misspelled? What killer feature do you just absolutely need? Please, let us know!</p>
	<p>	You can find several ways to contact us under <%= link_to "About", "about" %>.</p>
</div>

<div class="row">
	<div class="span6">
		<h2>Known bugs</h2>
		You are not notified when you go over twitters api-call limit.
		<br /> <br />
	 	This means that is you do more then 350 actions towards twitter in in hour, the app will not let you know that somethine went wrong. This is prio 1 right now.
	</div>

	<div class="span6">
		<h2>Developers and designers wanted</h2>
		If you are a developer or designer and want to help out: Let us know!
		<br /> <br />
		We will throw you right into the codebase! You will get rewarded by angry emails, frustrated users and the unbearable thought of having to work with us.
	</div>
</div>
