<div class="hero-unit">
	<h2 class="">Welcome</h2>
	<p>We should probably put some relevant user stuff here...</p>
	<p>Perhaps your twitter feed as well?</p>
	<img src="http://images.appleinsider.com/ballmer-ap-photo.jpg" />
</div>