<div class="hero-unit">
	<h1>Who are your tweeps? <%= image_tag "hawk.png" %></h1>
	<p>Find out who you are following, who is following you and take action with Tweepsmanager</p>
	<p>Features:</p>
	<ul>
		<li>See who follows you</li>
		<li>See who follows you that you don't follow</li>
		<li>See who you follow that don't follow you back</li>
		<li>Tweet</li>
		<li>Find and follow interesting people</li>
		<li>Unfollow uninteresting people</li>
	</ul>
	<p>No setup required! Just press the button.</p>
	<p><a class="btn primary large" href="/auth/twitter" >Get started for free!</a></p>
</div>
