<div class="hero-unit">
	<h1>Manage twitter <%= image_tag "hawk.png" %></h1>
	<p>Use Tweepsmanager to manage your twitter account in a more configurable manner.</p>
	<p>Features:</p>
	<ul>
		<li>See who follows you</li>
		<li>See who follows you that you don't follow</li>
		<li>See who you follow that don't follow you back</li>
		<li>Tweet</li>
		<li>Follow people</li>
		<li>Unfollow people</li>
	</ul>
	<p>Sign in using your twitter account, no setup required!</p>
	<p><a class="btn primary large" href="/auth/twitter" >Sign in >></a></p>
</div>
