<div class="hero-unit">
<h1>Welcome!</h1>
<p>On this site you can follow Justin Bieber as much as you want.What are you waiting for?</p>
<p><a class="btn primary large">Follow The Bieb!</a></p>
</div>
