<% if params[:user].length > 0 %>
  <h2 id="center">Browsing as <%= params[:user] %></h2>
<% end %>

<%=j render partial: "shared/flash", :locals => { flash: flash } %>

<div class="pagination pagination-centered"><ul> </ul> </div>
<table class="table" id="user-table">
  <thead>
    <tr>
      <th> </th>
      <th>User</th>
      <th>Bio</th>
      <th>Tweets</th>
      <th>Followers</th>
      <th>Following</th>
      <th>Last tweet</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="users">
  </tbody>
</table>
