<% if params[:user] %>
  <h2 id="center">Browsing as <%= params[:user] %></h2>
<% end %>
<%=j render partial: "shared/flash", :locals => { flash: flash } %>

<div class="pagination pagination-centered"><ul> </ul> </div>
<table class="table" id="user-table">
  <thead>
    <tr>
      <th> </th>
      <th>User</th>
      <th>Bio</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="users">
  </tbody>
</table>
