<table class="zebra-striped span4" id="sortTableExample">
	<thead>
		<tr>
			<th class="header"></th>
			<th class="header">User</th>
			<th class="header ">Bio</th>
			<th class="header">Last tweet</th>
			<th class="header"></th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => "user", :collection => collection  %>
	</tbody>
</table>

<%= @api_calls_left %> api calls left this hour
