<div class="pagination pagination-centered"><ul> </ul> </div>
<table class="table" id="user-table">
  <thead>
    <tr>
      <th> </th>
      <th>User</th>
      <th>Bio</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="users">
  </tbody>
</table>
