<table class="table table-striped">
	<thead>
		<tr>
			<th> </th>
			<th>User</th>
			<th>Bio</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => "user", :collection => collection  %>
	</tbody>
</table>

<%= @api_calls_left %> api calls left this hour
