<%= render partial: "loading_users" %>

<script type="text/javascript">
  $(function(){
    $.ajax({ url: '/followers', type: 'get', dataType:'script', timeout: 10000,

		error: function(){
		$("#main").prepend("<div class=\"alert alert-error\">Request timed out. Twitter is over capacity, <a href=\"<%= followers_path %>\">Please try again</div>");
		$(".hero-unit").html("<h1 id=\"loading\">Could not load users</h1>");
        }	});
  });
</script>
