/*
 *= require 'twitter/bootstrap'
 *= require imports
 *= require_self
*/

.img-icon{
	width:16px;
  margin-right:10px;
}

#img-profile {
	width:47px;
  max-width: none;
  float:left; 
  margin: 0 15px 15px 0;
}

#fixed-btn {
  width: 90px;
}

#header-image {
  width:20px;
  padding:0;
  margin:0;
}

#loading {
  text-align: center;
}

/* TODO Should be class */
#center {
  text-align: center;
}

footer{
	border-top-color:#E5E5E5;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:10px;
  margin-top:100px;
	text-align:center;
}

form {
  margin: 0 0 0px;
}
