/*
*= require 'twitter/bootstrap'
*/

.img-icon{
	width:16px;
	padding:0px;
	margin:0px;
}

body{
	padding-top:90px;
}

footer{
	border-top-color:#E5E5E5;
	border-top-style:solid;
	border-top-width:1px;
	padding-top:10px;
	text-align:center;
}
